<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleRegister</servlet-name>
    <servlet-class>myservlet.data.HandleRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleRegister</servlet-name>
    <url-pattern>/servlet/HandleRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleLogin</servlet-name>
    <servlet-class>myservlet.data.HandleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleLogin</servlet-name>
    <url-pattern>/servlet/HandleLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryRecord</servlet-name>
    <servlet-class>myservlet.data.QueryRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryRecord</servlet-name>
    <url-pattern>/servlet/QueryRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PutGoodsToCar</servlet-name>
    <servlet-class>myservlet.data.PutGoodsToCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutGoodsToCar</servlet-name>
    <url-pattern>/servlet/PutGoodsToCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleDelete</servlet-name>
    <servlet-class>myservlet.data.HandleDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleDelete</servlet-name>
    <url-pattern>/servlet/HandleDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleBuyGoods</servlet-name>
    <servlet-class>myservlet.data.HandleBuyGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleBuyGoods</servlet-name>
    <url-pattern>/servlet/HandleBuyGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchByCondition</servlet-name>
    <servlet-class>myservlet.data.searchByCondition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchByCondition</servlet-name>
    <url-pattern>/servlet/searchByCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleExit</servlet-name>
    <servlet-class>myservlet.data.HandleExit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleExit</servlet-name>
    <url-pattern>/servlet/HandleExit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleChangePass</servlet-name>
    <servlet-class>myservlet.data.HandleChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleChangePass</servlet-name>
    <url-pattern>/servlet/HandleChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeInfoOfRegister</servlet-name>
    <servlet-class>myservlet.data.ChangeInfoOfRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeInfoOfRegister</servlet-name>
    <url-pattern>/servlet/ChangeInfoOfRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagementLogin</servlet-name>
    <servlet-class>management.servlet.ManagementLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagementLogin</servlet-name>
    <url-pattern>/servlet/ManagementLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManage</servlet-name>
    <servlet-class>management.servlet.UserManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManage</servlet-name>
    <url-pattern>/servlet/UserManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsTypeManage</servlet-name>
    <servlet-class>management.servlet.GoodsTypeManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsTypeManage</servlet-name>
    <url-pattern>/servlet/GoodsTypeManage</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>GoodsManage</servlet-name>
    <servlet-class>management.servlet.GoodsManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsManage</servlet-name>
    <url-pattern>/servlet/GoodsManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderFormManage</servlet-name>
    <servlet-class>management.servlet.OrderFormManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderFormManage</servlet-name>
    <url-pattern>/servlet/OrderFormManage</url-pattern>
  </servlet-mapping>
</web-app>