<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>iShare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>QueryInfo</servlet-name>
    <servlet-class>myServlet.data.QueryInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryInfo</servlet-name>
    <url-pattern>/servlet/QueryInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleRegister</servlet-name>
    <servlet-class>myServlet.data.HandleRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleRegister</servlet-name>
    <url-pattern>/servlet/HandleRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleLogin</servlet-name>
    <servlet-class>myServlet.data.HandleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleLogin</servlet-name>
    <url-pattern>/servlet/HandleLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleExit</servlet-name>
    <servlet-class>myServlet.data.HandleExit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleExit</servlet-name>
    <url-pattern>/servlet/HandleExit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublishPic</servlet-name>
    <servlet-class>myServlet.data.PublishPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishPic</servlet-name>
    <url-pattern>/servlet/PublishPic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadEssayPic</servlet-name>
    <servlet-class>myServlet.data.UploadEssayPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadEssayPic</servlet-name>
    <url-pattern>/servlet/UploadEssayPic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddInfo</servlet-name>
    <servlet-class>myServlet.data.AddInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInfo</servlet-name>
    <url-pattern>/servlet/AddInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSupport</servlet-name>
    <servlet-class>myServlet.data.AddSupport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupport</servlet-name>
    <url-pattern>/servlet/AddSupport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IfAddFocus</servlet-name>
    <servlet-class>myServlet.data.IfAddFocus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IfAddFocus</servlet-name>
    <url-pattern>/servlet/IfAddFocus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFocus</servlet-name>
    <servlet-class>myServlet.data.AddFocus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFocus</servlet-name>
    <url-pattern>/servlet/AddFocus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveFocus</servlet-name>
    <servlet-class>myServlet.data.RemoveFocus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFocus</servlet-name>
    <url-pattern>/servlet/RemoveFocus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteInfo</servlet-name>
    <servlet-class>myServlet.data.DeleteInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInfo</servlet-name>
    <url-pattern>/servlet/DeleteInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>myServlet.data.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/servlet/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteComment</servlet-name>
    <servlet-class>myServlet.data.DeleteComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComment</servlet-name>
    <url-pattern>/servlet/DeleteComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryInfoByType</servlet-name>
    <servlet-class>myServlet.data.QueryInfoByType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryInfoByType</servlet-name>
    <url-pattern>/servlet/QueryInfoByType</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QueryMyInfo</servlet-name>
    <servlet-class>myServlet.data.QueryMyInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMyInfo</servlet-name>
    <url-pattern>/servlet/QueryMyInfo</url-pattern>
  </servlet-mapping>
</web-app>